<div>
	
<div class="container-fluid p-3 bg-dark text-white">
	<h1 align="center">My Test Application</h1>
<div class="container admin_color" align="right">Logged in as :<%=session[:username]%>  </div>
</div>
	<div class="container adm">
		<h2 align="center">Admin Menu</h2>
		
		
		<table class="table table-hover ">
		<tr align="center">
		   <td>
			<%= link_to("Manage Contents",subjects_path)%></td></tr>
		
		<tr align="center"><td>
			<%= link_to("Manage Books",'#')%></td></tr>
		<tr align="center"><td>
			<%= link_to("Manage Admin Users",admin_users_path)%></td></tr>
		<tr align="center"><td>
			<%= link_to("Logout",access_logout_path)%>
			
		   
	   	</td></tr>
		</table>
		
	 </div>


<footer id="footer">
 <div id="footer-content foo">c.nibi123@gmail.com</div>
</footer>
</div>
