<div id="con">
	
<div class="container-fluid p-3 bg-dark text-white head">
	<h1 align="center">My Test Application</h1>
	<%= link_to("<Home>",:controller=>'access',:action=>'menu')%>
	<%= link_to("<Back to Page>",pages_path(:subject_id=>@page.subject_id))%>	
		<div class="container admin_color" align="right">Logged in as :<%=session[:username]%>  </div>

</div>
<div>
	<%= link_to("create_new_section",new_section_path(:page_id=>@page.id))%>
</div>
<div class="container">
<h3 align="center" >Manage Sections for Page <%= @page.name%></h3>
</div>
<div class="container">
	<table class="table table-hover">
		<thead class="tb_header">
		  <tr>
		  		
		  		<th>Name</th>
		  		<th>Position</th>
		  		<th>Visible</th>
		  		<th>content_type</th>
		  		<th>content_content</th>
		  		<th> </th>
		  		

		  </tr>	
		</thead>
		  <% @section.each do |section|%>
		  <tr>
		  		
		  		<td><%=section.name%></td>
		  		<td><%= section.position%></td>
		  		<td><%=status_tag(section.visible) %></td>
		  		<td><%= section.content_type %></td>
		  		<td><%= section.content %></td>
		  	
		  		<td>
		  			<%=link_to("Show",section_path(section,:page_id=>@page.id))%>
		  			<%=link_to("Edit",edit_section_path(section,:page_id=>@page.id))%>
		  			<%=link_to("Delete",delete_section_path(section,:page_id=>@page.id))%>
		  		</td>
		  </tr>
		  <%end%>
		</table>	
</div>
<%= will_paginate @section %>

<footer id="footer">	
<div id="footer-content foo">c.nibi123@gmail.com</div>
</footer>
</div>
