<div>
<div class="container-fluid p-3 bg-dark text-white">
	<h1 align="center">My Test Application</h1>
<%= link_to("<Home>",:controller=>'access',:action=>'menu')%>
		<div class="container admin_color" align="right">Logged in as :<%=$name%>  </div>
</div>
<div>
<%= link_to("<<<Back",pages_path(:subject_id=>@subject.id))%>
</div>
<div class="container">
	<%= form_for(@page,:url=>page_path(:subject_id=>@subject.id)) do |f|%>
	<div align="center"><b>UPDATE FORM</b></div>
	<%= render(:partial=>'page_form',:locals=>{:f=>f})%>
	<div class="justify-content-center" align="center">
		<%=f.submit("Update")%>
	 </div>
	<% end%>
</div>
<footer id="footer">
  <div id="footer-content">Sticky Footer</div>
</footer>
</div>
