<div>
<div class="container-fluid p-3 bg-dark text-white">
	<h1 align="center">My Test Application</h1>
<%= link_to("<Home>",:controller=>'access',:action=>'menu')%>

<<<<<<< HEAD
		<div class="container admin_color" align="right">Logged in as :<%=$name%>  </div>
=======
		<div class="container admin_color" align="right">Logged in as :<%=session[:username]%>  </div>
>>>>>>> Mydevelopment
</div>
<div>
<%= link_to("<<<Back",pages_path(:subject_id=>@subject.id))%>
</div>
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr> 
				<th>Subject    :</th><th><%= @subject.name%></th>
			</tr>
			<tr>
				<th>Name:</th><th><%= @page.name%></th>
			</tr>
			<tr>
				<th>Permalink:</th><th><%= @page.permalink%></th>
			</tr>
			<tr>
				<th>Visible :</th><th><%= @page.visible ? 'Yes' : 'No'%></th>
			</tr>	
			<tr>
				<th>Created At :</th><th><%= @page.created_at%></th>
			</tr>
			<tr>
				<th>Updated At :</th><th><%= @page.updated_at%></th>
			</tr>
			
		</thead>	
	</table>

</div>
<footer id="footer">
  <div id="footer-content foo">c.nibi123@gmail.com</div>
</footer>
</div>