<div>
<div class="container-fluid p-3 bg-dark text-white">
	<h1 align="center">My Test Application</h1>
	<%= link_to("<Home>",:controller=>'access',:action=>'menu')%>
		<div class="container admin_color" align="right">Logged in as :<%=session[:username]%>  </div>
</div>
<div>
<%= link_to("<<<Back",subjects_path)%>
</div>
<div class="container">
	
	<div align="center"><b>Delete Record</b></div>
	<%= form_for(@subject, :method=>'delete') do |f|%>
	<table class="table table-striped">
		<thead><th>You Really want to delete <%=f.label(@subject.name)%></th></thead>
		<tr><td><%=f.submit("Delete")%></td></tr>
	</table>
	<%end%>
</div>
<footer id="footer">
  <div id="footer-content foo">c.nibi123@gmail.com</div>
</footer>
</div>